{% extends 'lucid_diary/base.html' %}
{% load static %}

{% block title %}
Workspace
{% endblock %}

{% block additional_urls %}

<link href="{% static 'lucid_diary/css/workspace_styles.css' %}" rel="stylesheet" />
<script src="{% static 'lucid_diary/js/workspace.js' %}"></script>


{% endblock %}

{% block content %}
<div class="grid-workspace">

	<div class="noteslist_block">
		{% include 'lucid_diary/workspace_notelist.html' %}	
	</div>

	<div class="note-view">

	</div>	


</div>



{% endblock %}